body {
  background-color: rgb(2, 0, 102);
  color: rgb(255, 255, 255);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card {
  background-color: rgb(80, 4, 134);
  border: 8px solid rgb(251, 255, 7);
  border-radius: 0.5em;
  margin-top: 2em;
  padding: 2em;
  width: 20em;
}

h1 {
  color: rgb(245, 35, 234);
}

button {
  background-color: rgb(27, 210, 216);
  border-radius: 0.3em;
  padding: 0.7em;
  font-weight: 700;
}
